<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú</title>
</head>
<body>
<h1>Menú</h1>

<h2>Seleccione un Punto:</h2>

<ul>
    <li><a href="/punto1">Punto 1 - Lista de Cantantes y Productor</a></li>
    <li><a href="/punto2">Punto 2 - Comparación de Iteradores</a></li>
    <li><a href="/punto3">Punto 3 - Cantantes Emergentes</a></li>
    <li><a href="/punto4">Punto 4 - Estadísticas de Álbumes</a></li>
    <li><a href="/punto5">Punto 5 - Function Interface</a></li>
</ul>

<hr>
<p><strong>Cantantes en el sistema:</strong></p>
<p>CONAN GRAY, BILLIE_EILISH, OLIVIA_RODRIGO, NINA SIMONE, LAUFEY, RICKY MONTGOMERY, NIGHTWISH, SYSTEM OF A DOWN, DAVID BOWIE</p>
</body>
</html>